<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- NAMESPACE는 인터페이스인 MAPPER의 이름이랑 같은 주소로 가기 -->
 <mapper namespace="com.quiz.lesson06.mapper.BookmarkMapper">
 	<select id="selectBookmarkList" resultType="com.quiz.lesson06.domain.Bookmark">
 		SELECT
 			`id`
			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM
			`url`
		WHERE
			`id` = #{id}
 	</select>
 </mapper>